<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>You Are A CEO</title>

<style>

BODY {
    font-family: Helvetica, Arial,  sans-serif;
    font-size:12px;
    color:#303740;
}
TD {
    font-family: Helvetica, Arial,  sans-serif;
    font-size:12px;
    color:#303740;
}
A {
    color: #0091B7;
}
IMG { 
    display:block;
    border: none;
}

H1, H2, H3, P {
    margin: 0px;
    padding: 0px;
}
UL {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
P {
    margin: 0px;
    padding: 0px;
}
div , span , a{font-family: Helvetica, Arial,  sans-serif;}
</style>

</head>
<body>
    <table  cellpadding="0" cellspacing="0" align="center" width="800" style="background:#fff;">
        <tbody>
            <tr>
                <td style="padding:0">
                    <table cellpadding="0" cellspacing="0" align="center">
                        <tbody>
                            <tr class="header">
                                <td style="padding:0">
                                    <table cellpadding="0" cellspacing="0" align="center" width="800" height="157" style=" background:cyan; width:100%;height: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="padding:0">
                                                    <a href="<bx_url_root />m/user/invite_register"><img src="https://s3.amazonaws.com/mintshowapplive/EmailTemplate/mail_logo.jpg" style="display: block; width: 100%; height: 100%;"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>



{% block content %}{% endblock %}
<tr>
                <td style="padding:0">
                  <table cellspacing="0" cellpadding="0" align="center" style="background:#091a35">
                    <tbody>
                      <tr>
                        <td width="260" height="67" align="center"><table cellpadding="0" cellspacing="0">
                        <tr><td><a href="https://play.google.com/store/apps/details?id=com.mintshow"> <img src="https://s3.amazonaws.com/mintshowapplive/EmailTemplate/gp.png" /></a></td></tr>
                        </table></td>
                        <td width="1" height="67"><table width="2" height="41" cellspacing="0" cellpadding="0" align="center" style="background:#9e9e9e;height:41px;width:2px;margin-top:16px;margin-bottom:10px">
                            <tbody>
                              <tr>
                                <td style="padding:0;height:40px">
                                </td>
                              </tr>
                            </tbody>
                          </table></td>
                        <td width="278" height="67" align="center"><table cellpadding="0" cellspacing="0">
                        <tr><td><a href="https://itunes.apple.com/us/app/mintshow/id1132517170?ls=1&mt=8"><img src="https://s3.amazonaws.com/mintshowapplive/EmailTemplate/apple.png" /></a></td></tr>
                        </table></td>
                       <td width="1" height="67"><table width="2" height="41" cellspacing="0" cellpadding="0" align="center" style="background:#9e9e9e;height:41px;width:2px;margin-top:16px;margin-bottom:10px">
                            <tbody>
                              <tr>
                                <td style="padding:0;height:40px">
                                </td>
                              </tr>
                            </tbody>
                          </table></td>
                        <td width="260" height="67">
                        <table cellpadding="0" cellspacing="0" align="center">
                        <tr><td width="75"></td><td width="55" align="left">
                        <table cellpadding="0" cellspacing="0"><tr><td>
                        <a href="https://www.facebook.com/MintShow-194090264270493/"><img src="https://s3.amazonaws.com/mintshowapplive/EmailTemplate/fb.png" ></a></td></tr></table>
                        </td>
                        
                        <td width="55" align="right"><table cellpadding="0" cellspacing="0"><tr><td>
                        <a href="https://twitter.com/mintshowapp"><img src="https://s3.amazonaws.com/mintshowapplive/EmailTemplate/twit.png"></a></td></tr></table></td><td width="75"></td></tr>
                        </table>
                        </td>

                        

                        

                        

                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>




            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>


